/* Define o layout geral do formulário */
div {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  padding: 20px; /* Adiciona espaçamento interno */
  background-color: #f7d3dc; /* Cor de fundo clara para o formulário */
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao redor do formulário */
}

/* Estiliza o título */
h2 {
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

/* Estiliza o formulário */
form {
  width: 100%; /* Largura total do formulário */
  max-width: 600px; /* Largura máxima do formulário */
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
}

/* Estiliza os inputs e select */
input, select {
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 10px; /* Espaçamento abaixo de cada campo */
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 4px; /* Cantos arredondados */
  font-size: 16px; /* Tamanho da fonte */
}

/* Estiliza o botão */
button {
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 4px; /* Cantos arredondados */
  background-color: #eea7b8; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

/* Estiliza o botão ao passar o mouse */
button:hover {
  background-color: #fbe9ed; /* Cor de fundo mais escura ao passar o mouse */
  color: black;
}
