.App {
  font-family: Arial, sans-serif; /* Define a fonte para a aplicação */
  background-color: #f2bdca; /* Cor de fundo rosa acinzentado */
  min-height: 100vh; /* Garante que o fundo cubra a altura total da tela */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
}

nav {
  background-color: #fbe9ed; /* Cor de fundo para o menu de navegação */
  padding: 20px; /* Espaçamento interno */
}

ul {
  list-style: none; /* Remove marcadores de lista */
  padding: 0; /* Remove preenchimento */
  margin: 0; /* Remove margem */
  display: flex; /* Alinha os itens em linha */
  justify-content: center;
  gap: 50px;
}

li {
  margin-right: 15px; /* Espaçamento entre os links */
}

a {
  text-decoration: none; /* Remove sublinhado dos links */
  color: #81889B; /* Cor do texto dos links */
  font-weight: bold; /* Torna o texto dos links em negrito */
}

a:hover {
  color: #eea7b8; /* Cor ao passar o mouse */
}

main {
  padding: 20px; /* Espaçamento interno principal */
}
